.logo {
  max-width: 100px;
  max-height: 50px;
  margin-top: 20px;
}

.bd-quote {
  text-align: center;
  margin-top: 10%;
}

.navbar {
  padding: 3.5rem 1rem;

}

.nav-item {
  margin-top: -45px;
  float: left;
  white-space: nowrap;
}

h1 {
  font-family: 'Old Standard TT', serif;
  color: #000;
}

h3 {
  font-family: 'Open Sans', serif;
  font-weight: 300;
  font-size: 1.2em;
}

h6 {
  font-size: 0.8em;
  font-weight: 300;
}

#description-container {
  margin-top: 70px;
}

#services {
  font-size: 1em;
  font-weight: bold;
}

#resources {
  float: left;
  margin-top: 20px;
}

#resources a {
  color: #000;
  cursor: pointer;
}
